<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Todoapp", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-blue-900 shadow sm:items-baseline w-full">
      <div class="mb-2 sm:mb-0">
        <a href="/" class="text-4xl no-underline text-white hover:text-blue-dark">Home</a>
        <a href="/items" class="text-xl no-underline text-white hover:text-blue-dark">Todo List</a>
        <a href="/items/new" class="text-xl no-underline text-white hover:text-blue-dark">New Todo</a>
      </div>
    </nav>
    <%= @inner_content %>
  </body>
  <footer>
    
  </footer>
</html>
